<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/styles/price.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</head>
<body>
<div class="w-[80] mx-auto">

    <swiper-container class="mySwiper mt-4" pagination="true" pagination-clickable="true"  space-between="30"
                      autoplay-delay="2500" autoplay-disable-on-interaction="false">
        <swiper-slide>
            <img src="../assets/image/chart.png"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../assets/image/chart.png"/>
        </swiper-slide>
    </swiper-container>
</div>

</body>
</html>