@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Esteded";
    src: url("assets/fonts/Estedad[wght,kshd].ttf");
}
@font-face {
font-family: "sans";
    src: url("../../assets/");
}
body{
    /*font-family: "Esteded";*/
    direction: rtl;
    height:100vh ;
}