@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iranyekan;
    src: url("/assets/fonts/IRANYekanBold.ttf")
}
body{
    font-family: iranyekan !important;

    direction: rtl;
    height:100vh ;
}
*{
    font-family: iranyekan !important;
}
input{
    font-family: iranyekan !important;
}
button{
    font-family: iranyekan !important;
}
a{
    font-family: iranyekan !important;
}
.dark{
    background-color: #2E2E2E !important;
}
.dark html{
  background: #2E2E2E !important
}

.dark .walletSection{
    background-color: #2E2E2E !important;
    border: 2px solid #fafafa;
}
.dark .Validity{
    color: rgb(21 128 61);
}
.dark .menu-nav ,.dark .walletItem{
    background-color: #cad3d5 !important;
}
/*.dark .menu-nav .svg{*/
/*    color: #ffffff !important;*/
/*}*/
.dark .menu-setting{
    color: white !important;
}
.dark .input{
    background-color: rgb(55 65 81)
}
.dark-toggle{
    border:1px solid rgba(7, 253, 0, 0.51);
}
.dark .div-ux span{
    color: white !important;
}
.div-ux{
    border: 2px solid rgba(7, 253, 0, 0.51);
}
.dark .form-prof input , select {
    background-color: #404040 !important;
    border: 2px solid rgba(7, 253, 0, 0.51);
    color: white !important;
}

.dark .form-prof , label{
    color: #929292 !important;
}
.date-section::-webkit-scrollbar{
    display: none !important;
}
body::-webkit-scrollbar{
    display: none;
}
/*.dark .mmd{*/
/*    background-color: #404040 !important;*/
/*    border: 2px solid rgba(7, 253, 0, 0.51);*/
/*    color: white !important;*/
/*}*/